# Dependency directories
node_modules/

# Expo directories and local files
.expo/
dist/
web-build/

# Local Firebase Configuration overrides
firebase.config.js
services/firebaseConfig.js
config/firebase.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Android & iOS Native build directories
ios/
android/
*.apk
*.aab

# System Files & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
